// app global css in SCSS form
// Float Action Buttons
.bottom {
  width: fit-content;
  max-width: max-content;
  height: 0;
  max-height: 0;
  margin: 0 0 0 auto;
}
.bottom-body {
  height: 0;
  max-height: 0;
  margin: 0;
}
.fab-group {
  width: fit-content;
  max-width: max-content;
  height: 0;
  margin: -4rem 0.5rem 4rem auto;
}
