// App global css in SCSS form

// TYPOGRAPHY
@font-face {
  font-family: "Nunito-Regular";
  src: url("./fonts/Nunito-Regular.eot");
  src: local("./fonts/Nunito-Regular"), local("./fonts/Nunito-Regular"),
    url("./fonts/Nunito-Regular.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Nunito-Regular.woff2") format("woff2"),
    url("./fonts/Nunito-Regular.woff") format("woff"),
    url("./fonts/Nunito-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito-SemiBold";
  src: url("./fonts/Nunito-SemiBold.eot");
  src: local("./fonts/Nunito-SemiBold"), local("./fonts/Nunito-SemiBold"),
    url("./fonts/Nunito-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Nunito-SemiBold.woff2") format("woff2"),
    url("./fonts/Nunito-SemiBold.woff") format("woff"),
    url("./fonts/Nunito-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito-Bold";
  src: url("./fonts/Nunito-Bold.eot");
  src: local("./fonts/Nunito-Bold"), local("./fonts/Nunito-Bold"),
    url("./fonts/Nunito-Bold.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Nunito-Bold.woff2") format("woff2"),
    url("./fonts/Nunito-Bold.woff") format("woff"),
    url("./fonts/Nunito-Bold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cocon-Regular";
  src: url("./fonts/Cocon-Regular.eot");
  src: local("./fonts/Cocon-Regular"), local("./fonts/Cocon-Regular"),
    url("./fonts/Cocon-Regular.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Cocon-Regular.woff2") format("woff2"),
    url("./fonts/Cocon-Regular.woff") format("woff"),
    url("./fonts/Cocon-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

// ANIMATION
@keyframes across1 {
  0% {
    fill: rgba(241, 35, 0, 0);
    stroke: rgba(241, 35, 0, 1);
    stroke-dasharray: 200;
    stroke-dashoffset: -200;
  }
  90% {
    fill: rgba(241, 35, 0, 0);
    stroke: rgba(241, 35, 0, 1);
    stroke-dasharray: 200;
    stroke-dashoffset: 0;
  }
  100% {
    fill: rgba(241, 35, 0, 1);
    stroke: rgba(241, 35, 0, 1);
    stroke-dasharray: 200;
    stroke-dashoffset: 0;
  }
}
@keyframes across2 {
  0% {
    fill: rgba(241, 35, 0, 0);
    stroke: rgba(241, 35, 0, 1);
    stroke-dasharray: 350;
    stroke-dashoffset: -350;
  }
  90% {
    fill: rgba(241, 35, 0, 0);
    stroke: rgba(241, 35, 0, 1);
    stroke-dasharray: 350;
    stroke-dashoffset: 0;
  }
  100% {
    fill: rgba(241, 35, 0, 1);
    stroke: rgba(241, 35, 0, 1);
    stroke-dasharray: 350;
    stroke-dashoffset: 0;
  }
}
@keyframes across3 {
  0% {
    fill: rgba(241, 35, 0, 0);
    stroke: rgba(241, 35, 0, 1);
    stroke-dasharray: 500;
    stroke-dashoffset: -500;
  }
  90% {
    fill: rgba(241, 35, 0, 0);
    stroke: rgba(241, 35, 0, 1);
    stroke-dasharray: 500;
    stroke-dashoffset: 0;
  }
  100% {
    fill: rgba(241, 35, 0, 1);
    stroke: rgba(241, 35, 0, 1);
    stroke-dasharray: 500;
    stroke-dashoffset: 0;
  }
}
.animate-fast {
  -moz-transition: all 0.1s ease-in-out 0.05s;
  -webkit-transition: all 0.1s ease-in-out 0.05s;
  transition: all 0.1s ease-in-out 0.05s;
}
.animate-faster {
  -moz-transition: all 0.3s ease-in-out 0.1s;
  -webkit-transition: all 0.3s ease-in-out 0.1s;
  transition: all 0.3s ease-in-out 0.1s;
}
.animate-normal {
  -moz-transition: all 0.6s ease-in-out 0.2s;
  -webkit-transition: all 0.6s ease-in-out 0.2s;
  transition: all 0.6s ease-in-out 0.2s;
}
.animate-slower {
  -moz-transition: all 0.9s ease-in-out 0.3s;
  -webkit-transition: all 0.9s ease-in-out 0.3s;
  transition: all 0.9s ease-in-out 0.3s;
}
.animate-slow {
  -moz-transition: all 1.2s ease-in-out 0.4s;
  -webkit-transition: all 1.2s ease-in-out 0.4s;
  transition: all 1.2s ease-in-out 0.4s;
}

// Float Action Buttons

// HEADER
.logo {
  width: 100%;
  max-width: 12rem;
  margin: 0 auto;
}
.logo svg path {
  fill: $el-white-50;
}
.logo:hover svg path {
  fill: $el-white-100;
}

// CONTENT
.home-area {
  width: 100%;
  max-width: 80vw;
  margin: 0 auto;
  text-align: center;
}
.home-area svg {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem auto 0;
}
.home-area svg .elem.el1 {
  animation: across1 5s ease-in-out 0s 1 normal forwards;
}
.home-area svg .elem.el2 {
  animation: across2 5s ease-in-out 0s 1 normal forwards;
}
.home-area svg .elem.el3 {
  animation: across3 5s ease-in-out 0s 1 normal forwards;
}
.home-subtitle {
  margin: 2rem 0 0;
  font-size: 2.5rem;
}

// FOOTER
.bottom {
  width: fit-content;
  max-width: max-content;
  height: 0;
  max-height: 0;
  margin: 0 0 0 auto;
}
.bottom-body {
  height: 0;
  max-height: 0;
  margin: 0;
}
.fab-group {
  width: fit-content;
  max-width: max-content;
  height: 0;
  margin: -4rem 0.5rem 4rem auto;
}
.footer-1,
.footer-2,
.footer-3 {
  width: auto;
  max-width: fit-content;
  margin: 0;
  padding: 0;
}
